<Configuration>
  <UPnP>
    <MythFrontend>
      <DefaultBackend>
        <DBHostName><%= @mythtv_dbhost -%></DBHostName>
        <DBUserName><%= @mythtv_dbuser -%></DBUserName>
        <DBPassword><%= @mythtv_dbpass -%></DBPassword>
        <DBName><%= @mythtv_dbname -%></DBName>
        <DBPort>3306</DBPort>
      </DefaultBackend>
    </MythFrontend>
  </UPnP>
  <Database>
    <Host><%= @mythtv_dbhost %></Host>
    <UserName><%= @mythtv_dbuser %></UserName>
    <Password><%= @mythtv_dbpass %></Password>
    <DatabaseName><%= @mythtv_dbname %></DatabaseName>
    <Port>3306</Port>
  </Database>
</Configuration>
