<%= @options.join("\n")+"\n" unless @options.empty? -%>
<% if @proto == 'dhcp' -%>
dhcp
<% elsif @proto == 'none' -%>
up
<% else -%>
inet <%= @ipaddr %> <%= @netmask %>
<% end -%>
<% if @ip6addr == 'auto' -%>
rtsol
<% elsif @ip6addr != 'none' -%>
inet6 alias <%= @ip6addr %> <%= @ip6netmask %>
<% end -%>
<% @postcmd.each do |val| -%>
!<%= val %>
<% end -%>
