DEVICE=<%= @name %>
<% if @name !~ /(bond|br)[0-9]/ && has_variable?("macaddress_" + @name) -%>
HWADDR=<%= scope.lookupvar("macaddress_" + @name) %>
<% end -%>
ONBOOT=yes
BOOTPROTO=<%= @proto %>
<% if @ipaddr != 'none' and @ipaddr != 'dhcp' -%>
IPADDR=<%= @ipaddr %>
<% end -%>
<% if @netmask != 'none' -%>
NETMASK=<%= @netmask %>
<% end -%>
<% if @proto == 'dhcp' -%>
DHCPCLASS=
PERSISTENT_DHCLIENT=yes
NOZEROCONF=yes
<% end -%>
<% if @ip6addr == 'none' -%>
IPV6INIT=no
IPV6_AUTOCONF=no
<% elsif @ip6addr == 'auto' -%>
IPV6INIT=yes
IPV6_AUTOCONF=yes
<% else -%>
IPV6INIT=yes
IPV6_AUTOCONF=no
IPV6ADDR=<%= @ip6addr %>/<%= @ip6netmask %>
<% end -%>
<% if @name =~ /br[0-9]/ -%>
TYPE=Bridge
DELAY=0
LINKDELAY=10
<% end -%>
<% @options.each do |val| -%>
<%= val %>
<% end -%>
