<?php

// Show inactive clients (false by default)
$config['show_inactive_clients'] = true;

// Hide empty pools (displayed by default)
$config['hide_empty_pools'] = false;

// Translations
$config['language'] = 'en_US';

// Server definition
$config[0]['label'] = 'Bacula Server';
<% if @dbadapter == 'sqlite' -%>
$config[0]['db_type'] = 'sqlite';
$config[0]['db_name'] = '/srv/bacula/bacula.db';
<% else -%>
$config[0]['host'] = '<%= @dbserver %>';
$config[0]['login'] = '<%= @dbuser %>';
$config[0]['password'] = '<%= @dbpassword %>';
$config[0]['db_name'] = '<%= @dbname %>';
<%   if @dbadapter == 'postgresql' -%>
$config[0]['db_type'] = 'pgsql';
<%   else -%>
$config[0]['db_type'] = 'mysql';
<%   end -%>
<% end -%>

?>
