
Storage {
    Name = "<%= @homename %>"
    WorkingDirectory = "/var/spool/bacula"
    Pid Directory = "/var/run"
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
    TLS Verify Peer = yes
}

Director {
    Name = "bacula-dir"
    Password = "<%= @password_real %>"
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
    TLS Verify Peer = yes
}

Messages {
    Name = "Standard"
    MailCommand = "bsmtp -h <%= @mail_server %> -s \"Bacula Message\" %r"
    OperatorCommand = "bsmtp -h <%= @mail_server %> -s \"Bacula Operator Message\" %r"
    mail = root = all, !skipped, !info
    operator = root = mount
    director = bacula-dir = all
}

@|"sh -c 'find /etc/bacula/bacula-sd.d/*.conf -exec echo @{} \\;'"
