
Client {
    Name = "<%= @homename %>"
    Address = <%= @homename %>
    Catalog = "Catalog"
    Password = "<%= @password_real %>"
    File Retention = 6 months
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
}
