deb <%= @archive_url %> <%= @lsbdistcodename %> main restricted universe multiverse
deb-src <%= @archive_url %> <%= @lsbdistcodename %> main restricted universe multiverse

deb <%= @archive_url %> <%= @lsbdistcodename %>-updates main restricted universe multiverse
deb-src <%= @archive_url %> <%= @lsbdistcodename %>-updates main restricted universe multiverse

deb <%= @security_url %> <%= @lsbdistcodename %>-security main restricted universe multiverse
deb-src <%= @security_url %> <%= @lsbdistcodename %>-security main restricted universe multiverse

deb <%= @archive_url %> <%= @lsbdistcodename %>-backports main restricted universe multiverse
deb-src <%= @archive_url %> <%= @lsbdistcodename %>-backports main restricted universe multiverse
