loadplugin Mail::SpamAssassin::Plugin::ClamAV ClamAV.pm

full    CLAMAV  eval:check_clamav()
score   CLAMAV  5

add_header all Virus _CLAMAV_

clamav_socket <%= scope.lookupvar('clamav::daemon::socket') %>
