[<%= @name %>]
name=<%= @descr_real %>
enabled=<% if @status == 'disable' %>0<% else %>1<% end %>
<% if @baseurl != '' -%>
baseurl=<%= @baseurl %>
<% else -%>
mirrorlist=<%= @mirrorlist %>
<% end -%>
<% if @gpgkey_real != '' && @gpgcheck != false -%>
gpgkey=<%= @gpgkey_real %>
gpgcheck=1
<% elsif @gpgkey_real != '' -%>
gpgkey=<%= @gpgkey_real %>
gpgcheck=0
<% else -%>
gpgcheck=0
<% end -%>
<% if @repocheck != false -%>
repo_gpgcheck=1
<% end -%>
<% if @sslcacert != '' -%>
sslverify=1
sslcacert=<%= @sslcacert %>
<% end -%>
<% if @priority != '' -%>
priority=<%= @priority %>
<% end -%>
