[<%= @name %>]
  comment = <% if @comment %><%= @comment %><% else %><%= @name %><% end %>
  path = <%= @path %>
  inherit permissions = yes
  invalid users = root
<% if @readonly -%>
  read only = yes
<% else -%>
  read only = no
<% end -%>
<% @options.each do |option| -%>
  <%= option %>
<% end -%>
