<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>SKS Search Page</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
</head>
<body>
<h1>SKS OpenPGP Keyserver</h1>
<h3>Extract a key</h3>
You can extract a key by typing in some words that appear in the userid
of the key you're looking for, or by typing in the keyid in hex format ("0x...")
<p>
<form action="/pks/lookup" method="get">
Search String: <input name="search" size="40"> <br>
Show PGP "fingerprints" for keys
<input type="checkbox" name="fingerprint"> <br>
Show SKS full-key hashes
<input type="checkbox" name="hash"> <br>
Search for keys: <br>
<input type="radio" name="op" value="index"> get regular index of matching keys
<br>
<input type="radio" name="op" value="vindex" CHECKED> get <b>verbose</b>
index of matching keys <br>
<input type="radio" name="op" value="get"> retrieve ascii-armored keys <br>
<input type="radio" name="op" value="hget"> retrieve keys by full-key hash
<br>
<input type="reset" value="Reset">
<input type="submit">
</form>
<br>
<h3>Submit a key</h3>
You can submit a key by simply pasting in the ASCII-armored version
of your key and clicking on submit.
<form action="/pks/add" method="post">
<textarea name="keytext" rows="20" cols="66"></textarea> <br>
<input type="reset" value="Reset">
<input type="submit" value="Submit this key to the keyserver!">
</form>
<br>
<br>
