Listen <%= @port %>

<VirtualHost _default_:<%= @port %>>
  ProxyRequests On
  ProxyVia On

<% if @cache == true -%>
  <IfModule mod_disk_cache.c>
    CacheEnable disk /
    CacheMaxFileSize 100000000
    CacheRoot <%= @cachepath %>
  </IfModule>

<% end -%>
  <Proxy *>
    Order deny,allow
    Deny from all
<% @allow.each do |addr| -%>
    Allow from <%= addr %>
<% end -%>
  </Proxy>
</VirtualHost>
