LoadModule wsgi_module modules/mod_wsgi.so
WSGISocketPrefix /var/run/mod_wsgi/wsgi
<% if @embedded == false -%>
WSGIRestrictEmbedded On
<% end -%>

SetEnv WSGI_PROCESS_GROUP
WSGIProcessGroup %{ENV:WSGI_PROCESS_GROUP}
