*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -p ah -j ACCEPT
-A INPUT -p esp -j ACCEPT
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
<%
  @firewall_rules.each do |rule|
    rule = /(tcp|udp)\/([\d:]+)( .+)?/.match(rule)
    if not rule[3] or IPAddr.new(rule[3].strip()).ipv4?
-%>
-A INPUT<% if rule[1] == "tcp" %> -m state --state NEW<% end %> -m <%= rule[1] %> -p <%= rule[1] %><% if rule[3] %> -s<%= rule[3] %><% end %> --dport <%= rule[2] %> -j ACCEPT
<%
    end
  end
  @firewall_custom.each do |rule|
-%>
<%= rule %>
<% end -%>
-A INPUT -p icmp --icmp-type any -j ACCEPT
-A INPUT -p tcp -j REJECT --reject-with tcp-reset
-A INPUT -j REJECT --reject-with icmp-port-unreachable
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
